# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [ ]:
# Convert the date column format from string to datetime

In [ ]:
# Set the date column as the DataFrame index

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months

In [ ]:
# Identify the average temperature for June
june_temp = session.query(Measurement.station, func.avg(Measurement.tobs)).\
    filter(func.strftime("%m", Measurement.date) == "06").\
    group_by(Measurement.station).all()
june_temp_df = pd.DataFrame(june_temp, columns = ["station", "tavg_june"])
june_temp_df

In [ ]:
# Identify the average temperature for December
dec_temp = session.query(Measurement.station, func.avg(Measurement.tobs)).\
    filter(func.strftime("%m", Measurement.date) == "12").\
    group_by(Measurement.station).all()
dec_temp_df = pd.DataFrame(dec_temp, columns = ["station", "tavg_dec"])
dec_temp_df

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test
from scipy.stats import ttest_ind
stat, p = ttest_ind(june_temp_df["tavg_june"], dec_temp_df["tavg_dec"])
print("t=%.3f, p=%.3f" % (stat, p))

### Analysis

The difference in the means of Jun vs Dec is statistically significant